* {
	box-sizing: border-box;
}
body {
	margin: auto;
}
.clear {
	clear: both;
}
.wrap {
	max-width: 1000px;
	margin: auto;
}
.menu {
	width: 100%;
	height: 50px;
	background-color: red;
}
.color {
	background-color: grey;
}
			/*content1*/
.box {
	padding-top: 40px;
}
.box_1 {
	width: 48%;
	height: 150px;
	float: left;
}
.box_2 {
	width: 48%;
	height: 150px;
	float: right;
}
			/*content2*/
.content1, .content4 {
	width: 22%;
	height: 200px;
	float: left;
}
.content2, .content3 {
	width: 22%;
	float: left;
	height: 200px;
}
.top, .bottom {
	height: 90px;
}
.bottom {
	margin-top: 20px;
}
.content1, .content2, .content3 {
	margin-right: 4%;
}
			/*content3*/
.box-3 {
	width: 45%;
	margin: auto;
	height: 50px;
}
 			/*content4*/
.box-4 {
	height: 200px;
	width: 20%;
	float: left;
}
.box-5 {
	width: 24%;
	height: 200px;
	float: left;
}
.box-6 {
	width: 48%;
	height: 200px;
	float: left;
}
.box-4, .box-5 {
	margin-right: 4%;
}
			/*content5*/
.box-7, .box-8, .box-9 {
	width: 30%;
	float: left;
	height: 1000px;
}
.box-7, .box-8 {
	margin-right: 5%;
}
.part-1, .part-2, .part-3 {
	height: 250px;
}
.part-2, .part-3 {
	margin-top: 20px;
}
.part-4 {
	height: 300px;
}
.part-5 {
	height: 400px;
	margin-top: 20px;
}
.part-6 {
	height: 200px;
}
.part-7 {
	height: 280px;
}
.part-8 {
	height: 330px;
}
.part-7, .part-8 {
	margin-top: 20px;
}
			/*content6*/
.box_6 {

}
.const {
	width: 16.666667%;
	height: 150px;
	float: left;	
}
.one {
	background-color: red;
}
.two {
	background-color: black;
}
			/*content7*/
.aaa {
	width: 16.666667%;
	height: 150px;
	margin: 0 8.3333333% 0 8.3333333%;
	float: left;
	background-color: grey;
}