.box {
	padding:15px;
	float: left;
	width: 33.33333333%;
	border: 1px solid #dddddd;
	border-top-width: 5px;
}
.info {
	border-color: orange;
	background-color: white;
}

.company {
	border-color: red;
	background-color: white;
}
.contact {
	border-color: blue;
	background-color: white;
}
.info span {
	color: orange;	
}
.company span {
	color: red;
}
.contact span {
	color: blue;
}
