* {
	box-sizing: border-box;
}.dropdown-divider {
	border-top: 1px solid black;
}

.menu_modal {
	display: none;
}
.messenger_b {
		display: none;
	}
@media (max-width: 600px) {
	.header, .dropdown-divider {
		display: none;
	}
	.menu_col-sm-5 {
		width: 40%;
	}
	.menu_col-sm-7 {
		width: 60%;
	}
	.navbar-toggler {
		margin: auto;
	}
	.menu_modal {
		display: block;
	}
	.messenger_a {
		display: none;
	}
	.messenger_b {
		display: block;
	}
};
body {
	position: relative;
}
.nav-link {
	border: none;
}
.nav-link:hover {
	border: none;
}
.clear {
	clear: both;
}
.header {
	max-width: 1200px;
	margin: auto;
}
.header a {
	text-decoration: none;
	color: grey;
}
.col-sm-2 {
	text-align: right;
}
.nav-link:hover {
	color: #78b43d;
}
/*banner*/
.banner {
	position: relative;
}
.banner img {
	width: 100%;
}
.banner_text {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	text-transform: uppercase;
	color: white;
}
/*modal*/
.registration {
	width: 100%;
    background: #78b43d;
}
.nav-tabs_modal a {
	color: black;
	width: 50%;
    text-align: center;
}
.modal-title {
	text-align: center;
}
.modal-header form {
	width: 300px;
	margin: auto;
}
.btn-primary {
	float: right;
}
.nav-tabs_modal {
	border: none;
	padding-bottom: 10px;
}
.login {
	padding: 5px;
    color: white;
    background-color: #78b43d;
    text-decoration: none;
    margin: 5px 10px;
    width: 40%;
    text-align: center;
}
/*modal*/
/*mini-menu*/
.mini-menu {
	max-width: 1200px;
	margin: auto;
	padding: 20px 0;
}
.mini-menu a {
	text-decoration: none;
	color: black;
}
.mini-menu a:hover {
	color: #14c314;
}

.mini-menu span {
	color: #14c314;
}
/*menu*/
.menu {
	background-color: white;
}
.navbar-nav {
	text-align: center;
}
.bg-light {
	background-color: white!important;
	max-width: 1200px;
	margin: auto;
}
.fa-gem {
	font-size: 4em;
	color: #78b43d;
}
.bigco {
	font-size: 30px;
}
.col-sm-7 a {
	color: black;
	text-decoration: none;	
}
.nav-item a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}
.nav-item {
	padding: 25px;
}
.nav-item:hover {
	background-color: #78b43d;
}
.navbar-nav {
	margin: auto;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-item:hover {
	background-color: #78b43d;
	color: white;
}
.nav-item:hover > a {
	color: white;
}
.nav-item_active {
	color: white;
    background-color: #78b43d;
    border: none;
}
.dropdown-menu {
	margin: 0;
	padding: 0;
	border: 1px solid #78b43d;
	border-radius: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: white;
	background-color: #78b43d;
	border: none;
}
/*back-to-top* và messenger*/
.back {
	display: none;
	position: fixed;
	bottom: 60px;
	right: 40px;
	border: 2px solid grey;
	background-color: grey;
}
.fa-arrow-up {
	font-size: 2em;
	padding: 5px;
	color: white;
}
.messenger {
	background-color: #78b43d;
	padding: 5px;
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 20px 0 0 0;
	z-index: 2000;
}
.messenger a {
	color: black;
}
.messenger_form {
	display: none;
}
.messenger button {
	width: 100%;
	color: black;
	background-color: white;
}
.messenger_li {
	width: 100%;
	padding: 0;
	text-align: center;
}
.messenger_ul {
	border: none;
}
.messenger_form {
	padding: 2%;
}
.messenger_form label {
   margin: 8px 0;
}
/*footer*/
.footer_end {
	margin: auto;
	text-align: center;
	color: white;
	padding: 20px;
}
.container_footer {
	background-color: #222428;
}
.container_footer_row {
	max-width: 1200px;
	margin: auto;
	padding-top: 50px;
}
.container_footer_col-sm {
	margin-bottom: 20px;
}
.container_footer_col-sm label {
	color: white;
	padding: 8px 0;
}
.container_footer_col-sm a {
	color: white;
}
.container_footer_col-sm a:hover {
	text-decoration: none;
}
.container_footer_col-sm h3, .container_footer_col-sm h5 {
	text-transform: uppercase;
	text-align: center;
	color: white;
}
.container_footer_col-sm h3 {
	margin-bottom: 20px;
}
.container_footer_col-sm ul, .container_footer_col-sm li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 2.5;
	color: white;
	font-size: 20px;
}
.container_footer_col-sm iframe {
	width: 100%;
	height: 50%;
}
.container_footer_col-sm button {
	color: black;
    background: white;
    margin: 10px 35%;
    width: 30%;
    text-align: center;
}

